---
layout: home
title: "Write the Docs | SF Bay Area"
---

<div class="container-fluid">
    <div class="row justify-content-center py-5" id="homepage-header">
        <div class="col-12 col-md-4">
            <div class="float-right">
                <h1 class="title text-right text-white">WRITE<br/>THE<br/>DOCS</h1>
                <hr>
                <h1 class="subtitle text-right text-white">Bay Area</h1>
            </div>
        </div>
        <div class="col-12 col-md-6 align-self-center">
            <div class="d-inline">
                <h4 class="tagline text-white">Write The Docs is a global community of people who care about documentation. We are a local meetup group for Write The Docs in the San Francisco Bay Area!</h4>
                <a href="https://join.slack.com/t/writethedocs/shared_invite/enQtNzQ2NzkwODQ3NDkwLWZhY2U4YTg5YjAyODk1NzkxYzI0ZmFjOWMxNWEwOWNjZDE3NDZjMmJiZTlkODc4Y2ZlNjkxNGIyNzMxNDkzZjA" role="button" class="btn btn-primary">{{ site.icons.slack }} Join us on Slack!</a>
                <a href="{{ next-event.url | prepend: site.baseurl }}" role="button" class="btn btn-primary">{{ site.icons.calendar }} Come to our next event!</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col col-md-1 d-none d-md-block">
            &nbsp;
        </div>
        <div class="col">
            {% assign next-event = site.events | where: "event-id", site.next_event | first %}
            <div class="card mb-3 mx-auto">
                <div class="card-body">
                    <h2 class="card-title">Next Meetup: {{ next-event.title }} {{ site.data.locales[next-event.locale].badge }}</h2>
                    <p class="card-text">{{ next-event.description | markdownify }}</p>
                    <a role="button" class="btn btn-primary" href="{{ next-event.url | prepend: site.baseurl }}">Join us!</a>
                </div>
            </div>

            <h2 class="display-4 pt-3">Updates from the team</h2>
            <hr>
            {% assign announcements = site.announcements | where: "layout","announcements/announcement" | sort: "announcement-date" | reverse %}

            {% for announcement in announcements limit:3 %}
            <div class="mb-5">
                <h3>{{ announcement.title }}</h3>
                <h5>{{ announcement.announcement-date | date: "%B %d, %Y" }}</h5>
                <h5>
                    {% for tag in announcement.tags %}
                    <a href="{{ site.data.announcements.tags[tag].link }}">{{ site.data.announcements.tags[tag].badge }}</a>
                    {% endfor %}
                </h5>
                <p>{{ announcement.excerpt | truncatewords: 250 }}</p>
                <a href="{{ announcement.url }}">Read more...</a>
            </div>
            {% endfor %}
        </div>
        <div class="col col-md-1 d-none d-md-block">
            &nbsp;
        </div>
    </div>
</div>