---
layout: default
---


{% assign events = site.events | where: "year", page.year | where: "layout", "events/event" %}
{% assign upcoming-events = events | where: "upcoming", true %}

<div class="container mt-3">
    <div class="row">
        <div class="col">{% include events/breadcrumb.html %}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="sticky-top">
                <nav id="toc" data-toggle="toc"></nav>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <h2 id="upcoming-events">Upcoming Events</h2>
            <hr>
            {% for event in upcoming-events %}
            {% include events/event-listing-card.html %}
            {% endfor %}
            <h2 id="past-events">Past Events</h2>
            <hr>
            {% for event in events %}
            {% unless event.upcoming %}
            {% include events/event-listing-card.html %}
            {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>

