// This file is imported by assets/main.scss, the primary file for Jekyll. That file is referenced in head.html, not this one.

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito+Sans&display=swap');
@import 'utilities/variables';
@import 'vendor/bootstrap/bootstrap';

@import 'base/body';
@import 'base/images';
@import 'base/typography';

@import 'components/badges';
@import 'components/callouts';
@import 'components/cards';
@import 'components/hero';
@import 'components/github-corner';

@import 'layout/navbar'; 
@import 'layout/footer';
@import 'layout/structure';

@import 'pages/home';