<div class="footer-container">
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="contact">
            <h3 data-toc-skip class="text-white">Keep in touch!</h3>
          {% assign contacts = site.data.contact %}
          {% for contact in contacts %}
          <a type="button" href="{{ contact.url }}" data-toggle="tooltip" data-placement="top" title="{{ contact.site }}">{{ contact.icon }}</a>
          {% endfor %}
          </div>
        </div>
        <div class="col">
          <div id="code-of-conduct">
            <h3 data-toc-skip class="text-white">Code of Conduct</h3>
            <p class="text-white">Write the Docs is a global community of documentarians who share information, discuss ideas, and work together to improve the art and science of documentation. Everybody who participates in our community in one way or another is required to conform to the <a href="https://www.writethedocs.org/code-of-conduct/">Write the Docs Code of Conduct (CoC)</a>. This includes online communications, meetup and conference attendees, speakers, sponsors, founders, moderators, organisers and volunteers.</p>
          </div>

        </div>
      </div>
    </div>
  </footer>
</div>