#homepage-header {
  background: linear-gradient(rgba(255, 175, 189, 0.5),rgba(255, 195, 160, 0.75)), url("/images/bg/san-francisco.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.home {
  align: center;
  height: 5rem;
  width: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: $primary;
}