#homepage-header {
  background: transparent url("/images/bg/san-francisco.jpg") no-repeat center center /cover;
}

.home {
  align: center;
  height: 5rem;
  width: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: $primary;
}