.hero {
    width: 110%;

    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;

    background: $white;
    border-bottom: 1px solid $gray-200;
    .badge { vertical-align: middle }
}

.hero-set-height {
    height: 165px;
}

.hero-title {
    padding-left: 15px;
    @include media-breakpoint-up(md) {
        font-size: 3.75rem;
    }
    font-size: 2rem;
}

.hero-date {
    font-size: 1.5rem;
    color: $gray-600;
    padding-left: 15px;
    padding-top: 10px;
}

