
.hero {
    width: 100%;
    background: $white;
    border-bottom: 1px solid $gray-200;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.hero-title {
    font-size: 4rem;
}

.hero-date {
    font-size: 2rem;
}