.wrapper {
  min-height: calc(100vh - $footer-height);
  @include media-breakpoint-down(md) {
    min-height: calc(100vh);
  }
}
.content-wrapper {
  flex: 1;
  align-items: stretch;
  margin-bottom: $footer-height;
}


.event-container {
  margin-left: 2rem;
  margin-right: -2rem;
}