---
layout: default
---
{% assign announcements = site.announcements | sort: "announcement-date" %}

<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="sticky-top">
                <nav id="toc" data-toggle="toc"></nav>
            </div>
        </div>
        <div class="col-12 col-md-9">
           {% for announcement in announcements reversed %}
            {% unless announcement.listing %}
            <h2>{{ announcement.title }}</h2>
            <h4><em>{{ announcement.announcement-date }}</em></h4>
            <h5>{% for tag in announcement.tags %}
            {{ site.data.announcements.tags[tag].badge }}
                {% endfor %}</h5>
            <p>{{ announcement.excerpt | truncatewords: 250 }}</p>
            <a href="{{ announcement.url }}">Read more...</a>
            <hr>
            {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>

