---
layout: default
---
{% assign announcements = site.announcements | where_exp: "document", "document.tags contains page.tag" | where_exp: "document", "document.layout != 'announcements/tag'" %}

<div class="container-fluid mt-3">
    <div class="row d-none d-md-block mt-2">
        <div class="col">
            {% include announcements/breadcrumb.html %}
        </div>
    </div>
    <div class="row hero shadow-sm">
        <div class="col">
            <h1 class="hero-title">{{ page.title }} Announcements</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <nav id="toc" data-toggle="toc"></nav>
        </div>
        <div class="col-12 col-md-9">
            {% for announcement in announcements %}
            <h2>{{ announcement.title }}</h2>
            <h4><em>{{ announcement.announcement-date | date: "%B %d, %Y" }}</em></h4>
            <p>{{ announcement.excerpt | truncatewords: 250 }}</p>
            <a href="{{ announcement.url }}">Read more...</a>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
