
.title {
  font-size: 300%;
  font-family: "Bree Serif";
}
.subtitle {
  font-family: $font-family-sans-serif;
}

.tagline {
  font-family: $font-family-sans-serif;
}

.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}